MOCK_SERVER_PORT=3005
MOCK_SERVER_HOST=0.0.0.0
MOCK_SERVER_PROTOCOL=http

MOCK_WEBCLIENT_HOST=http://localhost:3000
JWT_SECRET=secret

# Rambler / DB keys (overrides rambler.json)
RAMBLER_HOST=db
RAMBLER_USER=postgres
RAMBLER_PASSWORD=
RAMBLER_DATABASE=column_development
RAMBLER_DIRECTORY=src/db/migrations

# Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_CURRENCY=usd
STRIPE_PAID_SUBSCRIPTION_PRICE_ID=
STRIPE_ENDPOINT_SECRET=
STRIPE_APPLICATION_FEE_PERCENTAGE=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

AWS_S3_POST_BUCKET=
AWS_S3_USER_BUCKET=
AWS_S3_PUSER_BUCKET=

# Email
EMAIL_FROM=notifications@joincolumn.com

# Google Login
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Linkedin
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_CALLBACK_URL=

# Twitter
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_CALLBACK_URL=
TWITTER_FRONTEND_CALLBACK_URL=http://localhost:3000/twitter-callback

REBUILD_HIERARCHY=false

# AdminBro Frontend
BASE_URL=http://localhost:3005
RESEARCH_APP=http://host.docker.internal 

CHANGE_REQUEST_EXPIRATION=1